/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top, #d9fbe5, #f4fdf8);
  overflow: hidden;
    padding-top: 4rem; /* espacio para la barra */

}

/* FONDO SVG */
.layered {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* PERSONAJES */
.esquina-izquierda,
.esquina-derecha {
  position: absolute;
  width: clamp(180px, 22vw, 280px);
  z-index: 1;
}

.esquina-izquierda {
  top: 4rem;
  left: 0;
  transform: translate(-20%, 0);
}

.esquina-derecha {
  bottom: 0;
  right: 0;
  transform: translate(20%, 20%);
}

/* CONTENIDO CENTRADO */
.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  z-index: 2;
}

/* HERO TITLE CONTENEDOR */
.hero-title {
  position: relative;
  height: 75px;
}


/* TEXTO BASE */
.hero-title .wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 75px;
  letter-spacing: 2px;
  white-space: nowrap;
word-break: keep-all;

}

/* CONTORNO (primer h1) */
.hero-title .wave:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #a35bd9;
}

/* TEXTO ANIMADO (segundo h1) */
.hero-title .wave:nth-child(2) {
  color: #c143e0;
  animation: waveMove 4s ease-in-out infinite;
}

/* ANIMACIÓN */
@keyframes waveMove {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.subtitulo {
 font-size: 18px; 
 font-family: "DM Serif Text", serif;  
 font-weight: 400;
  font-style: italic;
}
/* NAVBAR */
.navbar {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: linear-gradient(90deg, #e1baeb, #c596e9); 
  z-index: 10;
  box-shadow: 0 4px 6px #a35bd9(0,0,0.1); 
}

.navbar .logo {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  color: #f4fdf8; 
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 10rem;
 
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #f4fdf8;  
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s;
  font-family: "DM Serif Text", serif;
}

.navbar .nav-links li a:hover {
  color: #d9fbe5;  
}

.pagina {
  display: none;
  min-height: 100vh;
  padding: 6rem 3rem;            
  background: #ffffff;

}


.pagina.activa {
  display: block;


}


.hero.oculto {
  display: none;
}
.titulo {
display: flex;
font-size: 20px;
background-color: #f7c8f0;
justify-content: center;
}
.contenedor {
  background-color: #f7c8f0;
  width: 100%;
  height: 100%;
}

.contenedor p {
  padding: 2rem;
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333333;
}
.tarjeta {
  width: 250px;
  overflow: hidden;
  border-radius: 10%;
  background-color: #f7c8f0;
  box-shadow: 0 10px 20px rgba(119, 67, 133, 0.7);
}
.tarjeta-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tarjeta-foto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.tarjeta-nombre {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 15px;
  padding: 2px;
}

.tarjetas {
  display: flex;
  justify-content: space-evenly;
}

.tarjeta-descripcion {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 14px;
  padding: 0 10px 10px 10px;
}
.tarjeta-link {
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-size: 14px;
  padding-bottom: 10px;

}


.contacto {
  text-align: center;
  margin: auto;
  max-width: 700px;
}

.contacto-text {
  margin-bottom: 30px;
  font-size: 25px;
}

.contacto-form {
  background-color: #f7c8f0;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #fa79e6;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.contacto-form h2 {
  margin-top: -10px;
}

.campo {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 8px;
}

.campo input,
.campo textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
  outline: none;
  border-color: #fa79e6;
}

textarea {
  resize: none;
}

.btn-enviar {
  cursor: pointer;
  width: 180px;
  background-color: #fa95eb;
  color: black;
  border: 1px solid #fa79e6;
  border-radius: 8px;
  padding: 10px;
  margin: 5px auto 0;
  font-weight: 700;
}